@font-face {
  font-family: "Geometria";
  src:  url("../fonts/Geometria.otf") format("opentype");
}

@font-face {
  font-family: "Geometria-Bold";
  src:  url("../fonts/Geometria-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Geometria-BoldItalic";
  src:  url("../fonts/Geometria-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Geometria-Italic";
  src:  url("../fonts/Geometria-Italic.otf") format("opentype"),
}

@font-face {
  font-family: "Geometria-ExtaBlack";
  src:  url("../fonts/Geometria-ExtaBlack.otf") format("opentype");
}

@font-face {
  font-family: "Geometria-ExtraLight";
  src:  url("../fonts/Geometria-ExtraLight.otf") format("opentype"),
}

@font-face {
  font-family: "Geometria-Light";
  src:  url("../fonts/Geometria-Light.otf") format("opentype"),
}
