.menu {
  width: 700px;
  padding-top: 20px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
  list-style:none;
  text-align: center;
  justify-content: space-between;
}

.menu__item {
  text-align: center;
  &--drop-down {
    &:hover .menu__submenu {
      display:block;
    }
  }
}

.menu__link {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 5px;
  padding-right: 7px;
  border: none;
  text-decoration: none;
  color: #000000;
  &:hover {
    border-bottom: 2px solid black;
    color: #696969;
  }
  &--active {
      &:hover{
        color: #696969;
        border-bottom: 0px;
      }
      color: #696969;
    }
}

.menu__submenu {
  display: none;
  width: 125px;
  position: absolute;
  top: 250px;
  left: 629px;
  z-index: 1;
  list-style:none;
  font-size: 14px;
}

.menu__submenu-link {
  display: block;
  padding: 3px;
  text-decoration: none;
  text-align: left;
  padding: 10px 0px 10px 18px;
  color: black;
  background-color: #F5F5F5;
  border-bottom: 1px solid white;
}
