.promo {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.promo__video {
  margin-bottom: 70px;
}

.promo__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #000000;
}

.promo__description {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
